.table{
  padding:2rem;
  .table-headers{
    display:flex;
    align-items:center;
    justify-content:space-between;
    background:#27272A;
    .table-column{
      width: 20%;
      color:#fff;
      padding:.5rem
      // text-align:center;
    }
  }
  .table-row{
    display:flex;
    align-items:center;
    justify-content:space-between;
    .table-cell{
      width: 20%;
      padding:.3rem;
    }
  }
}
