<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
      <table border='1'>
        <thead>
          <th>Sr No</th>
          <th>Name</th>
          <th>Email Id</th>
          <th>Number</th>
        </thead>
        <tbody>
          <% let sr = 1 %>
          <% for(let i of data){ %>
          <tr>
            <td><%= sr++  %></td>
            <td><%=i.name %></td>
            <td><%=i.email %></td>
            <td><%=i.phone %></td>
          </tr>
          <%}%>
        </tbody>
      </table>
    </div>
</body>
</html>
