<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="main">
      <form method="post" action="/show">
        <input type='text' name="username" placeholder="Enter An Userrname :" />
        <input type="email" name="email" placeholder="Enter An Email :" />
        <button>Submit</button>
      </form>
    </div>
</body>
</html>
